// Variables
$black: #212121;
$orange: #FF9800;
$purple: #6C6296;
$purple-light: #9A91BC;
$body-bg: url('../images/topback.png'); // Extra materials
// Style code itself

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    ::selection {
      color: #fff;
      background: $orange;
    }
}

body {

}

h1 {
    margin: 0;
    padding: 20px 0;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 20px;
}

.menu {
  position: relative;
  z-index: 5;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        margin-right: -1px;
        list-style: none;

        li {
            font-size: 16px;
            &:nth-child(2) {
                position: relative;
                margin-left: -1px;
                margin-right: -22px;
                ul {
                  flex-direction: column;
                  position: absolute;
                  width: 100%;
                  top: 20px;
                  li {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    a {
                      display: block;
                    }
                  }
                }
            }

            &:nth-child(3) {
                padding: 0 20px;
                z-index: 1;

                img {
                    height: 120px;
                }
            }

            &:nth-child(4) {
                margin-left: -21px;
            }

            &:last-child {
                margin-left: -1px;

                a {
                    color: #FFCC80;

                    span {
                        padding: 0 5px;
                    }
                }
            }

            a {
                background-color: $purple;
                padding: 20px 25px;
                color: #fff;
                text-decoration: none;

                &:hover {
                    background-color: $purple-light;
                }
            }
        }
    }
}

.drpdwn-link {
  &:after {
    content: " ▼";
  }
}

.topback {
  position: absolute;
  background: $body-bg;
  background-repeat: repeat-x;
  background-position: 0 -25%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.logo {
  border: 6px solid $purple;
  border-radius: 10px;
}

.content {
    margin-top: 60px;
}

.bordered {
    border: 2px solid $purple;
}

.purple-back {
    background-color: $purple;
    color: #fff;
}

.info-block {
    img {
        margin: 0;
        padding: 20px;
    }

    p {
        padding: 20px;
        text-align: justify;
        text-indent: 2em;
    }
}

.trinity {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__block {
        width: 32%;
        text-align: justify;
        text-indent: 2em;
        p {
            padding:15px;
        }
    }
}

.news {
    position: relative;
    padding: 20px;

    img {
        width: 30%;
    }
}

.flex {
    display: flex;
    flex-flow: row wrap;

    &--center {
        align-items: center;
        align-content: stretch;
    }
    &--bottom {
      align-items: flex-end;
    }
}

.button {
    display: block;
    background-color: $purple;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    line-height: 2;

    &:hover {
        background-color: $purple-light;
        color: #fff;
        text-decoration: none;
    }

    &:active,
    &:focus,
    &:visited {
        color: #fff;
        text-decoration: none;
    }

    &--big {
        padding: 15px 20px;
        text-transform: uppercase;
        margin-right: 0;
        font-size: 18px;
    }
}

.imgleft {
    float: left;
    margin-right: 20px;
}

.imgright {
    float: right;
    margin-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.footer {
  position: relative;
  height: 80px;
  padding: 0;
  margin-top: 140px;
  font-size: 16px;
  img {
    position: absolute;
    height: 140px;
    padding: 0;
    border:10px solid $purple;
    border-bottom: 4px solid $purple;
    bottom: 0;
    left: 0;
  }
  div {
    overflow: hidden;
  }
  a {
    display: inline-block;
    padding: 0 15px;
    height: 100%;
    line-height: 2.5;
    text-decoration: none;
    &:hover {
      background-color: $purple-light;
    }
   }
  span {
    color: #fff;
    padding: 0 5px;
    line-height: 5;
  }
  address {
    margin: 0;
    overflow: hidden;
  }
}

.copyright {
  position: absolute;
  margin-left: 200px;
}
