// Variables
$black: #212121;
$orange: #FF9800;
$purple: rgb(49, 59, 77);
$purple-light: rgba(49, 59, 77, .7);
$body-bg: url('../images/topback.png'); // Extra materials
// Style code itself
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease 0s;
     ::selection {
        color: #fff;
        background: $orange;
    }
}

body {
    position: relative;
    min-height: 480px;
}

h1 {
    margin: 0;
    padding: 20px 0;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 20px;
}

.menu {
    position: relative;
    z-index: 5;
    padding-left: 10%;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        margin-right: -1px;
        list-style: none;
        li {
            position: relative;
            font-size: 16px;
            &:nth-child(2) {
                position: relative;
                margin-left: -1px;
                margin-right: -22px;
                &:hover {
                    ul {
                        display: flex !important;
                    }
                }
            }
            &:nth-child(3) {
                padding: 0 20px;
                z-index: 1;
                img {
                    height: 140px;
                }
            }
            &:nth-child(4) {
                margin-left: -21px;
            }
            a {
                background-color: $purple;
                padding: 20px 25px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    background-color: $purple-light;
                }
            }
            .glyphicon {
                transform: scale(1.6);
                z-index: 0;
            }
            .notification {
                position: absolute;
                background-color: $orange;
                text-align: center;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                bottom: -5px;
                z-index: 1;
            }
        }
        .contacts {
            margin-left: -1px;
            a {
                color: #FFCC80;
                span {
                    padding: 0 5px;
                }
            }
        }
    }
}

.drpdwn-link {
    &:after {
        content: " ▼";
    }
}

.drpdwn-menu {
    flex-direction: column;
    display: none !important;
    position: absolute;
    width: 100%;
    top: 19.4px;
    li {
        display: block;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        a {
            display: block;
            color: #fff !important;
        }
    }
}

.topback {
    position: absolute;
    background: linear-gradient(to bottom, rgba(54, 64, 84, 0.9) 0%, rgba(255, 255, 255, 0.92) 21%, rgba(255, 255, 255, 1) 100%);
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    border: 6px solid $purple;
    border-radius: 10px;
}

.content {
    margin-top: 60px;
}

.bordered {
    border: 2px solid $purple;
}

.purple-back {
    background-color: $purple;
    color: #fff;
}

.purple-light-back {
    background-color: $purple-light;
    color: #fff;
}

.info-block {
    img {
        margin: 0;
        padding: 20px;
    }
    p {
        padding: 20px;
        text-align: justify;
        text-indent: 2em;
    }
}

.trinity {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &__block {
        width: 32%;
        text-align: justify;
        text-indent: 2em;
        p {
            padding: 15px;
        }
    }
}

.news {
    position: relative;
    padding: 30px;
    margin: 16px;
    border-radius: 4px;
    background: #cdcfd2;
    img {
        width: 30%;
    }
    table {
        tr {
            th {
                border: 1px solid $purple-light;
                &:nth-child(1) {
                    width: 40%;
                }
                &:nth-child(2) {
                    width: 30%;
                }
            }
            td {
                border: 1px solid $purple-light;
            }
        }
    }
}

.flex {
    display: flex;
    flex-flow: row wrap;
    &--center {
        align-items: center;
        align-content: stretch;
    }
    &--bottom {
        align-items: flex-end;
    }
}

.button {
    display: block;
    background-color: $purple;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    line-height: 2;
    text-align: center;
    &:hover {
        background-color: $purple-light;
        color: #fff;
        text-decoration: none;
    }
    &:active,
    &:focus,
    &:visited {
        color: #fff;
        text-decoration: none;
    }
    &--big {
        padding: 15px 20px;
        text-transform: uppercase;
        margin-right: 0;
        font-size: 18px;
    }
}

.imgleft {
    float: left;
    margin-right: 20px;
}

.imgright {
    float: right;
    margin-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.full-width {
    width: 100%;
}

.caps {
    text-transform: uppercase;
}

.footer {
    height: 80px;
    padding: 0;
    margin-top: 140px;
    font-size: 16px;
    width: 100%;
    img {
        position: absolute;
        height: 140px;
        padding: 0;
        border: 10px solid $purple;
        border-bottom: 4px solid $purple;
        bottom: 0;
        left: 0;
    }
    div {
        overflow: hidden;
    }
    a {
        display: inline-block;
        padding: 0 15px;
        text-decoration: none;
        &:hover {
            background-color: $purple-light;
        }
    }
    span {
        color: #fff;
        padding: 0 5px;
        line-height: 4.85;
    }
    address {
        margin: 0;
    }
}

.copyright {
    position: absolute;
    margin-left: 200px;
}

.purple {
    color: $purple;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $purple;
    font-size: 16px;
    li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &:hover {
            background-color: $purple-light;
            color: #fff;
        }
    }
    .current {
        @extend .purple-back;
    }
}

.tab-content {
    display: none;
    background: none;
    padding-top: 15px;
}

.current {
    display: inherit;
}

.tabs li {
    border-radius: initial;
}